@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    --grey: #e6ebee;
  }

body {
    background-color: #FFFDE7;
    display: grid;
    place-content: center;
    font-family: 'Nerko One', cursive;
}

h1 {
    display: grid;
    place-content: center;
    color: navy;
    font-weight: lighter;
    font-size: 50px;
    border-style: double;
    border-width: thick;
    border-color: navy transparent orange;
    background-color: rgb(255, 252, 246);
    cursor: pointer;
}

h1:active {
    transform: translateY(5px);
}

h1:hover {
    background-color: var(--grey);
}

.game-board {
    background-color: white;
    width: 500px;
    height: 750px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
    border-radius: 10%;
    border: solid 1px orange;
    margin-left: 15%;
}

.squares{
    border: solid 4px navy;
}

.squares:hover {
    background-color: var(--grey);
}

.cat {
    background: url(cat.svg) center/100px no-repeat;
    transition: all .7s ease-out;
}

.bee {
    background-image: url(bee.svg);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    transition: all .7s ease-out;
}

input {
    width: 25%;
    margin-bottom: 20px;
}

[for="playerTwo"] {
    padding-left: 20px;
}

label {
    font-size: 25px;
}

.congratulate {
    color: red;
    font-size: 40px;
    display: grid;
    place-content: center;
    margin-top: 25px;
}